.blockquoteVerde {
    background-color: #CCE7C1 !important;
    color: #0c5c03 !important;
}

.blockquoteNegro {
    background-color: #05156e !important;
    color: #ffffff !important;
}

.blockquoteAzul {
    background-color: #D2E9F5 !important;
    color: #3a87ad !important;
}