<vex-secondary-toolbar current="{{itemPrincipal}}" *ngIf="accesoFormulario">
    <vex-breadcrumbs [crumbs]="['Movimiento de Mercadería']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
</vex-secondary-toolbar>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" *ngIf="!accesoFormulario" class="py-40">
    <div @fadeInUp fxFlex="auto">
        <div class="spinner-container">
            <br /><br />
            <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
            <br /><br />
        </div>
        <!--<blockquote *ngIf="validandoPermiso"
            style="margin: 0px; background-color: #e3e3e3; color: #575757; text-align: center;">
            Verificando este módulo. Un momento por favor ...
        </blockquote>
        <blockquote *ngIf="!validandoPermiso"
            style="margin: 0px; background-color: #e3e3e3; color: #575757; text-align: center;">
            Ud. no tiene permisos para acceder a este módulo.
        </blockquote>-->
    </div>
</div>

<vex-page-layout *ngIf="accesoFormulario">
    <vex-page-layout-header class="pb-4" fxLayout="column" fxLayoutAlign="start start"></vex-page-layout-header>
    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
        <div class="card overflow-auto -mt-16">

            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0" fxLayout="row" fxLayoutAlign="start center" fxFlex="none">
                    <span @scaleIn class="w-10 h-10 rounded-full text-primary mr-1 flex items-center justify-center">
                        <ic-icon [icon]="icBubbleChart" height="20px" width="20px"></ic-icon>
                    </span>
                    <!--@fadeInRight-->
                    <span class="block">{{tituloForm}}</span>
                </h2>
                <span fxFlex></span>
            </div>

            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" *ngIf="accesoFormulario">

                <div class="card" fxFlex="auto" *ngIf="loadingIngreso">
                    <div class="spinner-container">
                        <br /><br />
                        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
                        <br /><br />
                    </div>
                </div>
                <div class="card" fxFlex="auto" *ngIf="!loadingIngreso">
                    <div fxLayout="column" class="margenesForms" *ngIf="!flujoIngreso" [formGroup]="formBusqueda">
                        <blockquote class="blockquoteAzul">Búsqueda de la Orden de Compra.</blockquote>
                        <div class="px-2 py-2" fxLayout="column" >
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="auto">
                                    <mat-label>N° Orden de Compra</mat-label>
                                    <input matInput maxlength="5" minlength="1" formControlName="nroCompra" required
                                    vexDirectivasComercial [entrada]='tipoEntradaNumero'>
                                    <mat-icon [icIcon]="icMenu" matPrefix></mat-icon>
                                    <mat-hint align="start">Ingrese el N° Orden de Compra</mat-hint>
                                    <mat-error *ngIf="formBusqueda.get('nroCompra').hasError('required')">Ingrese el N° Orden de Compra</mat-error>
                                </mat-form-field>
                                <button class="bg-botones-principal text-white mt-3 mb-3" matTooltip="Buscar Compra"
                                    [class.spinner]="spinBtnReg" [disabled]="spinBtnReg"
                                    (click)="buscarCompra()" mat-raised-button type="button">
                                    <ic-icon [icon]="icSearch" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="20px">
                                    </ic-icon>
                                    <span>{{btnRegistro}}</span>
                                </button>
                                <button class="bg-botones-principal text-white mt-3 mb-3" matTooltip="Regresar a Compras Ingresadas"
                                    (click)="regresar()" mat-raised-button type="button">
                                    <ic-icon [icon]="icReturn" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="20px">
                                    </ic-icon>
                                    <span>Regresar</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="column" class="margenesForms" *ngIf="flujoIngreso" [formGroup]="formIngreso">
                        <blockquote class="blockquoteNegro">Información General</blockquote>
                        <div fxLayout="column" class="margenesForms">
                            <div class="px-2 py-2" fxLayout="column">
                                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="30">
                                        <mat-label>Fecha de Entrega</mat-label>
                                        <input matInput formControlName="fechaentrega" >
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30">
                                        <mat-label>Proveedor</mat-label>
                                        <input matInput formControlName="proveedor">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30">
                                        <mat-label>Tienda</mat-label>
                                        <input matInput formControlName="tienda">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="50">
                                        <mat-label>Recibir en:</mat-label>
                                        <input matInput formControlName="recibe">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="50">
                                        <mat-label>Tipo de Documento:</mat-label>
                                        <mat-select formControlName="tipodocumento" required [class.spinner]="habilitaCboTDocumentos"
                                            [disabled]="habilitaCboTDocumentos || deshabilitaItems">
                                            <mat-option [value]="0">Seleccione un tipo de documento</mat-option>
                                            <mat-option *ngFor="let option of lstTipoDocumento" [value]="option.idcatalogodetalle">
                                                {{option.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-hint align="start">Seleccione una opción</mat-hint>
                                        <mat-error *ngIf="formIngreso.get('recibe').hasError('required')">Seleccione
                                            una opción</mat-error>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="50">
                                        <mat-label>Nro Documento</mat-label>
                                        <input formControlName="nrodocumento" matInput maxlength="255" minlength="3"
                                            required [disabled]="deshabilitaItems">
                                        <mat-icon [icIcon]="icMenu" matPrefix></mat-icon>
                                        <mat-hint align="start">Ingrese el número de documento</mat-hint>
                                        <mat-error *ngIf="formIngreso.get('nrodocumento').hasError('required')">Ingrese el número de documento</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="100">
                                        <mat-label>Referencia Compra</mat-label>
                                        <input formControlName="referenciacompra" matInput maxlength="255" minlength="3"
                                            required [disabled]="deshabilitaItems">
                                        <mat-icon [icIcon]="icMenu" matPrefix></mat-icon>
                                        <mat-hint align="start">Ingrese una referencia</mat-hint>
                                        <mat-error *ngIf="formIngreso.get('referenciacompra').hasError('required')">Ingrese los
                                            datos de la referencia</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="100">
                                        <mat-label>Referencia Ingreso</mat-label>
                                        <input formControlName="referencia" matInput maxlength="255" minlength="3"
                                            required [disabled]="deshabilitaItems">
                                        <mat-icon [icIcon]="icMenu" matPrefix></mat-icon>
                                        <mat-hint align="start">Ingrese una referencia</mat-hint>
                                        <mat-error *ngIf="formIngreso.get('referencia').hasError('required')">Ingrese los
                                            datos de la referencia</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0" fxLayoutAlign="end end">
                                    <button class="bg-botones-principal text-white mt-3 mb-3" matTooltip="{{btnRegistro}}"
                                        [class.spinner]="spinBtnReg" [disabled]="spinBtnReg || deshabilitaItems"
                                        (click)="registrarIngreso()" mat-raised-button type="button">
                                        <mat-icon>save</mat-icon>
                                        <span>{{btnRegistro}}</span>
                                    </button>
                                    <button class="bg-botones-principal text-white mt-3 mb-3" matTooltip="Regresar a Compras Ingresadas"
                                        (click)="regresar()" mat-raised-button type="button">
                                        <ic-icon [icon]="icReturn" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="20px">
                                        </ic-icon>
                                        <span>Regresar</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <blockquote class="blockquoteNegro">Productos agregados</blockquote>
                        <div class="spinner-container" *ngIf="loadingProductosAgregados">
                            <mat-progress-spinner [diameter]="50" mode="indeterminate" color="accent">
                            </mat-progress-spinner>
                            <br />
                        </div>
                        <table [dataSource]="dataSourceAgregados" class="w-full mat-table-main" mat-table matSort
                            *ngIf="!loadingProductosAgregados">
                            <ng-container matColumnDef="correlativo">
                                <th mat-header-cell *matHeaderCellDef width="5%">#</th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    {{ i + 1 }}-
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="producto">
                                <th mat-header-cell *matHeaderCellDef width="20%">Producto</th>
                                <td mat-cell *matCellDef="let element;">
                                    {{ element.nombreProducto }}<br>
                                    Cod. Producto: {{element.idproducto}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="umedida">
                                <th mat-header-cell *matHeaderCellDef width="10%">U. Medida</th>
                                <td mat-cell *matCellDef="let element;">
                                    {{ element.unidadmedida }}<br>
                                    Cant:<b>{{element.stock}}</b>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="proveedor">
                                <th mat-header-cell *matHeaderCellDef width="15%">Proveedor</th>
                                <td mat-cell *matCellDef="let element;">
                                    {{ element.representante }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="marca">
                                <th mat-header-cell *matHeaderCellDef width="10%" class="text-right">Marca</th>
                                <td mat-cell *matCellDef="let element;" class="text-right">
                                    {{ element.marca}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="pcostoHist">
                                <th mat-header-cell *matHeaderCellDef width="10%" class="text-right">P. Costo Hist.</th>
                                <td mat-cell *matCellDef="let element;" class="text-right">
                                    {{ element.pcostohistorico | currency: " S/."}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="pventa">
                                <th mat-header-cell *matHeaderCellDef width="10%" class="text-right">P. Costo</th>
                                <td mat-cell *matCellDef="let element;" class="text-right compra-agregada">
                                    {{ element.preciocosto | currency: " S/."}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="cantidad">
                                <th mat-header-cell *matHeaderCellDef width="10%" class="text-right">Cantidad</th>
                                <td mat-cell *matCellDef="let element;" class="text-right compra-agregada">
                                    {{ element.cantidad}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef width="10%" class="text-right">Total</th>
                                <td mat-cell *matCellDef="let element;" class="text-right compra-agregada">
                                    {{ element.total | currency: " S/."}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="accion">
                                <th mat-header-cell *matHeaderCellDef width="10%">Acción</th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <div class="accionBtn">
                                        <!--<button color="primary" fxHide.xs [disabled]="habilitaBtnReg"
                                            [class.spinner]="spinBtnReg" matTooltip="Modificar Montos" 
                                            style="margin-right: 6px;" (click)="agregarMontos(element)" mat-mini-fab
                                            type="button" *ngIf="!deshabilitaItems" >
                                            <mat-icon>shopping_cart</mat-icon>
                                        </button>-->
                                        <button class="bg-botones-secundario" fxHide.xs [disabled]="habilitaBtnReg"
                                            [class.spinner]="spinBtnReg" matTooltip="Eliminar Producto"
                                            style="margin-right: 6px;" (click)="eliminarDetalle(element)" mat-mini-fab
                                            type="button" *ngIf="!deshabilitaItems">
                                            <ic-icon [icon]="icDelete" inline="true" size="20px"></ic-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="displayedColumnsAgregados" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: displayedColumnsAgregados;" @fadeInUp
                                class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
                        </table>
                        <div *ngIf="dataSourceAgregados?.data?.length===0" class="no-records">
                            <div class="px-3 py-6 h-8 sticky left-0" fxLayout="row" fxLayoutAlign="center center">
                                <div class="mt-0 mb-0 text-secondary">No existen información registrada en este momento.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </vex-page-layout-content>
</vex-page-layout>
