.indicadorNuevo {
    background-color: #FF702A;
    color: white;
    padding: 3px;
    font-size: 11px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

.indicadorRojo {
    background-color: red;
    color: white;
    font-weight: 500;
    padding: 6px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

.indicadorVerde {
    background-color: #00BFDD;
    color: white;
    font-weight: 500;
    padding: 6px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}