<form [formGroup]="form">
    <div fxLayout="row" class="mat-dialog-title" fxLayoutAlign="start center" mat-dialog-title>
        <h2 class="headline ml-4" fxFlex="auto">{{tituloForm}}</h2>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button" 
            (click)="cerrarVentana(null)" style="color: white;">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>
    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <mat-form-field class="flex-auto">
            <mat-label>Caracteristica:</mat-label>
            <mat-select formControlName="catalogo">
                <mat-option *ngFor="let option of lstCaracteristica" [value]="option.idcatalogodetalle">{{option.descripcion}}
                </mat-option>
            </mat-select>
            <mat-hint align="start">Seleccione una Caracteristica</mat-hint>
            <mat-error *ngIf="form.get('catalogo').hasError('required')">Seleccione una Caracteristica</mat-error>
        </mat-form-field>
    </mat-dialog-content>

    <div class="px-4 py-6" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button class="mat-focus-indicator mat-button mat-button-base mat-dialogNO" 
            mat-raised-button type="button" (click)="cerrarVentana(null)">Cancelar
        </button>
        <button class="mat-focus-indicator mat-button mat-button-base mat-dialogOk" 
            [disabled]="habilitaBtnReg"
            [class.spinner]="spinBtnReg"
            mat-raised-button type="button" (click)="RegistrarCaracteristicas()">{{btnRegistro}}
        </button>
    </div>
</form>
