<vex-secondary-toolbar current="{{itemPrincipal}}" *ngIf="accesoFormulario">
    <vex-breadcrumbs [crumbs]="['Usuario']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
</vex-secondary-toolbar>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" *ngIf="!accesoFormulario" class="py-40">
    <div @fadeInUp fxFlex="auto">
        <blockquote *ngIf="validandoPermiso"
            style="margin: 0px; color: #4d4d4d; text-align: center;">
            Verificando este módulo. Un momento por favor ...
            <div class="spinner-container" *ngIf="validandoPermiso">
                <br />
                <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
                <br />
            </div>
        </blockquote>
        <blockquote *ngIf="!validandoPermiso"
            style="margin: 0px; color: #4d4d4d; text-align: center;">
            Ud. no tiene permisos para acceder a este módulo.
        </blockquote>
    </div>
</div>

<vex-page-layout *ngIf="accesoFormulario">
    <vex-page-layout-header class="pb-4" fxLayout="column" fxLayoutAlign="start start"></vex-page-layout-header>
    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
        <div class="card overflow-auto -mt-16">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0" fxLayout="row" fxLayoutAlign="start center" fxFlex="none">
                    <span @scaleIn
                        class="w-10 h-10 rounded-full text-primary mr-1 flex items-center justify-center">
                        <ic-icon [icon]="icBubbleChart" height="20px" width="20px"></ic-icon>
                    </span>
                    <span @fadeInRight class="block">Usuarios del Sistema</span>
                </h2>
                <span fxFlex></span>
                <button (click)="crearUsuario()" class="ml-4" color="primary" fxFlex="none" mat-mini-fab
                    matTooltip="Registrar Usuario" type="button" *ngIf="btnNuevo">
                    <mat-icon [icIcon]="icAdd"></mat-icon>
                </button>
            </div>

            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" [formGroup]="form" *ngIf="accesoFormulario">
                <div class="card" fxFlex="auto">

                    <div class="px-2 py-2" fxLayout="column">
                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                            <mat-form-field fxFlex="auto">
                                <mat-label>DNI</mat-label>
                                <input formControlName="dni" matInput maxlength="255" minlength="3">
                            </mat-form-field>
                            <mat-form-field fxFlex="auto">
                                <mat-label>Usuario</mat-label>
                                <input formControlName="nombres" matInput maxlength="255" minlength="3">
                            </mat-form-field>
                            <mat-form-field fxFlex="auto">
                                <mat-label>Filtrar por:</mat-label>
                                <mat-select formControlName="filtroBusk" (selectionChange)="cambiaFiltroBusk()">
                                    <mat-option *ngFor="let option of filtro" [value]="option.valor">{{option.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="py-2" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                                <button class="bg-botones-principal text-white mt-3 mb-3"
                                    matTooltip="Buscar Usuario"
                                    (click)="listaUsuarios(pagina)" mat-raised-button type="button">
                                    <ic-icon [icon]="icSearch" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
                                        inline="true" size="20px"></ic-icon>
                                    <span>Buscar</span>
                                </button>
                            </div>

                        </div>
                    </div>

                    <div class="spinner-container" *ngIf="loadingUsuarios">
                        <br /><br />
                        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
                        <br /><br />
                    </div>

                    <table [dataSource]="dataSource" class="w-full mat-table-main" mat-table matSort *ngIf="!loadingUsuarios">
                        <ng-container matColumnDef="correlativo">
                            <th mat-header-cell *matHeaderCellDef width="10%">#</th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                {{ i + 1 + numeracion}}-
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dni">
                            <th mat-header-cell *matHeaderCellDef width="15%">DNI</th>
                            <td mat-cell *matCellDef="let element;">
                                {{ element.numerodocumento }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef width="30%">USUARIO</th>
                            <td mat-cell *matCellDef="let element;">
                                {{ element.nombre }} {{ element.apellidopaterno }} {{ element.apellidomaterno }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="tienda">
                            <th mat-header-cell *matHeaderCellDef width="15%">TIENDA</th>
                            <td mat-cell *matCellDef="let element;">
                                {{ element.tienda }} 
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef width="15%">EMAIL</th>
                            <td mat-cell *matCellDef="let element;">
                                {{ element.email }} 
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="accion">
                            <th mat-header-cell *matHeaderCellDef width="30%">Acción</th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <button mat-mini-fab
                                    class="bg-botones-principal"
                                    [disabled]="habilitaBtnReg" [class.spinner]="spinBtnReg"
                                    style="margin-right: 6px;"
                                    matTooltip="Modificar Usuario" *ngIf="btnModificar"
                                    (click)="actualizarUsuario(element)">
                                    <ic-icon [icon]="icEdit" inline="true" size="20px"></ic-icon>
                                </button>

                                <button mat-mini-fab
                                    class="bg-botones-secundario"
                                    [disabled]="habilitaBtnReg" [class.spinner]="spinBtnReg"
                                    style="margin-right: 6px;"
                                    matTooltip="Eliminar Usuario" *ngIf="btnEliminar"
                                    (click)="eliminarUsuario(element)">
                                    <ic-icon [icon]="icDelete" inline="true" size="20px"></ic-icon>
                                </button>

                                <button mat-mini-fab
                                    [disabled]="habilitaBtnReg" 
                                    [class.spinner]="spinBtnReg"
                                    class="bg-blue-200"
                                    style="margin-left: 6px;"
                                    matTooltip="Asignar Perfil" *ngIf="btnPerfil"
                                    (click)="gestionarPerfil(element)">
                                    <mat-icon>supervisor_account</mat-icon>
                                </button>
                                <button mat-mini-fab
                                    class="bg-blue-200"
                                    style="margin-left: 6px;"
                                    matTooltip="Reiniciar Clave" *ngIf="btnClave"
                                    (click)="ReiniciarClave(element)">
                                    <mat-icon>vpn_key</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: displayedColumns;" @fadeInUp
                            class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
                    </table>
                    <div *ngIf="dataSource?.data?.length===0" class="no-records">
                        <div class="px-3 py-6 h-8 sticky left-0" fxLayout="row" fxLayoutAlign="center center">
                            <div class="mt-0 mb-0 text-secondary">No existen iformación registrada en este momento.
                            </div>
                        </div>
                    </div>
                    <!--PAGINACIÓN-->
                    <mat-paginator [hidePageSize]="true" [length]="totalRegistros" [pageIndex]="pageIndex" class="sticky left-0"
                        [pageSize]="totalRegistrosPorPagina" (page)="listarPorPagina($event)"
                        showFirstLastButtons>
                    </mat-paginator>

                </div>

            </div>

        </div>

    </vex-page-layout-content>
</vex-page-layout>