<form [formGroup]="form">
    <div fxLayout="row" class="mat-dialog-title" fxLayoutAlign="start center" mat-dialog-title>
        <h2 class="headline ml-4" fxFlex="auto">{{tituloForm}}</h2>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button" 
            (click)="cerrarVentana(null)" style="color: white;">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>
    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="flex-auto">
                <mat-label>Tienda</mat-label>
                <input matInput maxlength="250" class="uppercase" formControlName="nombre" required>
                <mat-icon [icIcon]="icMenu" matPrefix></mat-icon>
                <mat-hint align="start">Ingrese el nombre de la Tienda</mat-hint>
                <mat-error *ngIf="form.get('nombre').hasError('required')">Ingrese el nombre de la Tienda</mat-error>
            </mat-form-field>
            <mat-form-field class="sm:ml-6 flex-auto">
                <mat-label>Tipo de Tienda:</mat-label>
                <mat-select formControlName="idtipo">
                    <mat-option *ngFor="let option of lstTipoTiendas" [value]="option.idcatalogo">{{option.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-hint align="start">Seleccione un Tipo de Tienda</mat-hint>
                <mat-error *ngIf="form.get('idtipo').hasError('required')">Seleccione un Tipo de Tienda</mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="flex-auto">
                <mat-label>Dirección</mat-label>
                <input matInput maxlength="250" class="uppercase" formControlName="direccion" required>
                <mat-icon [icIcon]="icMenu" matPrefix></mat-icon>
                <mat-hint align="start">Ingrese una dirección</mat-hint>
                <mat-error *ngIf="form.get('direccion').hasError('required')">Ingrese una dirección</mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="flex-auto">
                <mat-label>Teléfono</mat-label>
                <input matInput maxlength="250" class="uppercase" formControlName="telefono" required>
                <mat-icon [icIcon]="icMenu" matPrefix></mat-icon>
                <mat-hint align="start">Ingrese un número de teléfono</mat-hint>
                <mat-error *ngIf="form.get('telefono').hasError('required')">Ingrese un número de teléfono</mat-error>
            </mat-form-field>
            <mat-form-field class="sm:ml-6 flex-auto">
                <mat-label>Tienda Central:</mat-label>
                <mat-select formControlName="indicadorcentral">
                    <mat-option *ngFor="let option of lsIndicadorCentral" [value]="option.id">{{option.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="flex-auto">
                <mat-label>E-mail</mat-label>
                <input matInput maxlength="150" class="uppercase" formControlName="email" required>
                <mat-icon [icIcon]="icMail" matPrefix></mat-icon>
                <mat-hint align="start">Ingrese un correo electrónico</mat-hint>
                <mat-error *ngIf="form.get('email').hasError('required')">Ingrese un correo electrónico</mat-error>
                <mat-error *ngIf="form.get('email').hasError('pattern')">Ingrese un correo válido</mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <div class="px-4 py-6" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button class="mat-focus-indicator mat-button mat-button-base mat-dialogNO" 
            mat-raised-button type="button" (click)="cerrarVentana(null)">Cancelar
        </button>
        <button class="mat-focus-indicator mat-button mat-button-base mat-dialogOk" 
            [disabled]="habilitaBtnReg"
            [class.spinner]="spinBtnReg"
            mat-raised-button type="button" (click)="RegistrarTienda()">{{btnRegistro}}
        </button>
    </div>
</form>